PORT={{ env_port }}
HUE_URL={{ env_hue_url }}
HUE_TOKEN={{ env_hue_token }}
HUE_SCENE_THEATER={{ env_hue_scene_theater }}
HUE_SCENE_DIMMED={{ env_hue_scene_dimmed }}
HUE_GROUP_ID={{ env_hue_group_id | default('1')}}
PLEX_PLAYER_UUID={{ env_plex_player_uuid }}
SUN_LATLNG={{ env_sun_latlng |  default('') }}